.header {
    grid-area: h;
    background-color: #ffc400;
}

.header img {
    height: 90%;
    margin: 2px;
    margin-left: 20px;
}

.loginBlock{
    margin: 10px;
    float: right;
}

.loginBlock a{
    text-decoration: none;
    color: #000000;
}

